<!DOCTYPE html>
<html class="full">
  <head>
    <title>My First App</title>
    <link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/intro.css">
  </head>
  <body style="padding-top: 50px;">
    <div class="container">
    <div class="row">
    <div class="col-lg-6 col-sm-12">
      <h2>Sign in to begin</h2>
      <!-- <p>Sign in to begin.</p><--!>
    </div>
    </div>
  </body>
</html>
