<!DOCTYPE html>
<html>
  <head>
    <title>My First App</title>
    <link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/application.css">
  </head>
  <body style="padding-top: 50px;">

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
           <ul class="nav">
             <li><a href="/">Nav Item</a></li>
           </ul>
           <form class="navbar-form pull-right">
             <input class="span2" type="text" placeholder="Name" autocomplete="off" style="cursor: auto; background-attachment: scroll; background-position: 100% 50%; background-repeat: no-repeat;">
             <button type="submit" class="btn">Sign in</button>
           </form>
        </div>
      </div>
    </div>

  <div class="container">
    <%if @error %>
      <div class="alert alert-error"><%=@error%></div>
    <% end %>
      <%= yield %>
  </div>
  </body>
</html>
