<!DOCTYPE html>
<html>
  <head>
    <title>My First App</title>
    <link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/application.css">
  </head>
  <body style="padding-top: 50px;">

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <ul class="nav">
             <% if session[:name] %>
               <li><a href="/game">New Game</a></li>
             <% end %>
           </ul>
           <% if !session[:name] %>
             <form class="navbar-form pull-right" action="/game" method="post">
               <input id="sign_in_input" class="span2" type="text" name="username" placeholder="Name" autocomplete="off" >
               <button type="submit" class="btn">Sign in</button>
             </form>
           <% else %>
             <ul class="nav pull-right">
               <li class="navbar-text">Welcome, <%=session[:name]%>!</li>
               <li><a href="/logout">Logout</a></li>
             </ul>
           <% end %>
        </div>
      </div>
    </div>

  <div class="container">
    <%if @error %>
      <div class="alert alert-error"><%=@error%></div>
    <% elsif @success %>
      <div class = "alert alert-success"><%=@success%></div>
    <% end %>
      <%= yield %>
  </div>
  </body>
</html>
